<div class="flex flex-col gap-5 h-full">
  <div>
    <div class="flex items-center justify-between mb-2">
      <h1 class="text-2xl font-bold">Your Journals</h1>
      <%= link_to new_category_path, class: 'block flex items-center font-bold' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
        </svg>
        <span>Journal</span>
      <% end %>
    </div>
    <div>
      <%= search_form_for @q, url: dashboard_path do |f| %>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <i class="fa-solid fa-magnifying-glass w-5 h-5 text-indigo-500"></i>
          </div>
          <%= f.search_field :name_or_description_cont, placeholder: 'Search Journal', class: 'block p-4 pl-10 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
          <%= f.submit 'Search', class: 'text-white absolute right-20 bottom-2.5 bg-indigo-500 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 hover:cursor-pointer hidden md:block'  %>
          <%= link_to 'Clear', root_path, class: 'text-white absolute right-2.5 bottom-2.5 bg-indigo-500 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @categories.any? %>
    <div class="flex-auto grid lg:auto-rows-min grid-cols-auto md:grid-cols-2 lg:grid-cols-3 gap-5 lg:pr-2 overflow-y-auto">
      <% @categories.each do |category| %>
        <div class="h-full flex flex-col justify-between p-4 lg:p-8 bg-indigo-500 rounded-lg shadow-md gap-2">
          <div>
            <div class="flex items-center gap-2 text-xl">
              <i class="fa-solid fa-book"></i>
              <%= link_to category.name, category_path(category), class: 'font-bold hover:underline' %>
            </div>
            <div class="flex text-sm items-center gap-2">
              <div class="flex items-center gap-1">
                <i class="fa-solid fa-list-check"></i>
                <p><%= category.tasks.count %> Tasks</p>
              </div>
              <div class="flex items-center gap-1 text-green-400">
                <i class="fa-regular fa-circle-check"></i>
                <p><%= category.tasks.where(is_completed: true).count %> Completed</p>
              </div>
            </div>
            <p class="mt-4 text-justify"><%= truncate(category.description, length: 150) %></p>
          </div>
          <div class="flex items-center justify-end gap-5">
            <%= link_to edit_category_path(category), class: 'text-yellow-500 hover:text-yellow-300' do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            <% end %>
            <%= button_to category_path(category), method: :delete, class: 'text-red-500 hover:text-red-300 flex items-center' do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="p-4 bg-indigo-500 rounded-lg">
      <p>You have not added any journals yet</p>
    </div>
  <% end %>
</div>