<!DOCTYPE html>
<html>
  <head>
    <title>Simple Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="h-screen bg-gray-100 flex items-center justify-center p-2 overflow-y-auto">
      <div class="w-[512px] p-5 rounded-md shadow-lg  bg-white">
        <div class="text-center mb-6">
          <%= link_to 'Simple Journal', root_path, class: 'text-2xl font-bold text-gray-900 hover:text-gray-700' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
